<!DOCTYPE html>
	<html>
		<head>
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
        <title>Sobre</title>
 
	{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aventuradivertidacompaulocezar@gmail.com">email</a></li>
	        		<li><a href="https://github.com/paulocezarnbr439">github</a></li>
				</ul>
				<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCJ6A8sfrjaVxrV8Q7V4obnA" data-layout="full" data-count="default"></div>
				
			</footer>
		</body>
	</html>
