<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
        <title>Sobre</title>
    </head>
    <body>
Olá! Eu sou o Paulo Cezar.  Tenho  11 anos e venho pensando como posso ajudar as crianças que estão em casa, com medo desta pandemia, principalmente as menores. Então decidi junto com meus irmãos (Laiza Beatrice e José Renato), criar este espaço, onde vamos contar historinhas  e colocar atividades legais para as crianças se distraírem neste momento de quarentena. O que vocês acham de nossa idéia? Venham conosco nesta aventura... se você gostou, se inscreva no nosso canal para não perder nenhuma historinha e de um like nos nossos vídeos e divulgue para seus amiguinhos.  📩contato:aventuradivertidacompaulocezar@gmail.com📩
    </body>
</html>
	{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aventuradivertidacompaulocezar@gmail.com">email</a></li>
	        		<li><a href="https://github.com/paulocezarnbr439">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
